.features {
  margin-top: 88px ;
  .features-description {
    color: $grey700;
  }

  .btn-primary {
    margin-top: 16px; 
    margin-bottom: 26px; 
  }

  .feature-card {
    border-radius: 12px;
    padding: 16px; 
    background-color: $grey300;
    margin-bottom: 16px;

    .feature-card-title {
      color: $grey800;
    }

    .feature-card-description {
      color: $grey800;
      line-height: 18px; 
      font-size: 16px; 
    }

    .icon {
      padding: 6px; 
      background-color: $grey500;
      height: fit-content;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;

      span {
        font-size: 18px; 
      }
    }
  }

  
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .features {
    margin-top:  104px;
    .cta-btn {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .feature-card-title {
    font-size: 16px; 
  }
}

@media screen and (min-width: 768px) {
  .features {
    .cta-btn {
      margin-bottom: 80px;
      padding: 16px 32px;
    }

    .features-title {
      font-size: 32px !important;
    }

    .feature-card {
      padding: 24px;

      .col-sm-6 {
        padding: 0;
      }

      .feature-card-description {
        line-height: 20px;
        font-size: 16px;
        letter-spacing: -0.06px;
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .features {

    h4 {
      margin-top: 74px;
    }
    .feature-img {
      display: flex;
      justify-content: center;
    }
  }

  .desktop {
    display: block;
  }

  a {
    font-size: 20px !important;
  }

  .feature-card-title {
    font-size: 20px;
    padding-bottom: 0;
  }
}

.text-black-hover {
  margin-left: 8px;
  transition: all 0.3s;
}

.text-black-hover:hover {
  border: red 1px solid;
}
